body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  height: 100vh;
}
.sidebar {
  width: 200px;
  background-color: #343a40;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.sidebar h2 {
  margin: 0 0 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  flex-grow: 1;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.add-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-top: auto;
}

.add-button:hover {
  background-color: #0056b3;
}

.add-employee-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-employee-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
}

.add-employee-form button


.add-employee-form button:hover {
  background-color: #0056b3;
}

.image-preview {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-top: 10px;
}
.employee-list input {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.employee-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.employee-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.employee-card img {
  border-radius: 50%;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.employee-details {
  text-align: center;
}

.employee-card h3 {
  margin: 10px 0 5px;
}

.employee-card p {
  margin: 5px 0;
  color: #555;
}

.delete-button {
  background-color: #75d3ce;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 5px;
}
.edit-button {
  background-color: #75d3ce;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: #c82333;
}

.edit-button:hover {
  background-color: #c82333;
}